.calendarContainer
{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
top:0px;
left:0px;
}

.calendarControls
{
position:absolute;
width:100%;
height:9%;
overflow:hidden;
top:0px;
left:0px;
}

.calendarBody
{
position:absolute;
width:100%;
height:90%;
overflow:hidden;
top:10%;
left:0px;
}


.calendarWeekLine
{
position:absolute;
width:100%;
overflow:hidden;
left:0px;
}

.calendarWeekInfo
{
position:absolute;
width:7%;
left:1%;
top:5%;
height:90%;
border:1px solid #cc33ff;
-moz-border-radius: 3px;
border-radius: 3px;
background-color:#cc33ff;
color:white;
}

.weekInfoTitle
{
width:100%;
margin-top:10px;
text-align:center;	
}

.calendarDay
{
position:absolute;
width:12%;
top:5%;
height:90%;
border:1px solid navy;
-moz-border-radius: 3px;
border-radius: 3px;
}

.labourDay
{
background-color:#ffffcc;
}

.weekendDay
{
background-color:#cccccc;
}

.calendarDayTitle
{
position:absolute;
width:94%;	
left:3%;
top:1px;
height:20px;
border-bottom:1px solid #666;
text-align:center;
}

.calendarDayBody
{
position:absolute;
width:98%;	
left:1%;
top:24px;
bottom:1px;
z-index:1;
overflow:auto;
}

.calendarHoverActive:hover
{
border:2px solid navy;
cursor:pointer;	
}

.calendarBackward
{
position:absolute;
left:10px;
cursor:pointer;
text-decoration:underline;
color:navy;
}

.calendarForward
{
position:absolute;
right:10px;
cursor:pointer;
text-decoration:underline;
color:navy;
}
